{{outlet 'modal'}}
{{outlet 'header'}}

<div class="st-pusher">
  {{outlet 'navigation'}}
  <div id="content" class="st-content">
    <div class="st-content-inner">
      <div class="container-fluid">
        {{!-- <div class="row breadcrumbs">
          <div class="col-12">
            {{outlet 'actions'}}
            {{outlet 'breadcrumbs'}}
          </div>
        </div> --}}
        {{outlet 'main'}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{outlet 'footer'}}
    </div>
  </div>  
</div>
